.card {
  width: 20em;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.25s ease;
}

.card:hover {
  transform: scale(1.01);
}

.inner-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.vehicle-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.vehicle-specs {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.vehicle-title {
  padding: 0;
  margin: 0;
}

.vehicle-subheading {
  padding: 0;
  margin: 0;
}

.plan-price {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: start;
}

.plan-price-text {
  padding: 0;
  margin: 0;
}

.car-image-show-details {
  display: flex;
  height: 15rem;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.car-image {
  display: flex;
  margin: 0rem auto;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  width: 99%;
  object-fit: cover;
  border-radius: 12px;
}

.clickable-card {
  margin-top: 0.75rem;
  cursor: pointer;
}

.edit-delete-modal-buttons {
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
}

.modal-table {
  margin-top: 1rem;
}

.table-key {
  font-weight: 400;
}
