.dashboard-container {
  margin: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}

.alert {
  padding: 1rem;
  padding-bottom: 0;
}

.heading-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.filter-buttons {
  display: flex;
  gap: 0.5rem;
}

.search-form-container {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 931px) {
  .dashboard-container {
    margin: 2rem 2rem 4rem 4rem;
    width: 90%;
  }

  .search-form-container {
    margin-right: 5rem;
  }
}
