.analytics-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  justify-content: flex-start;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
