.inner-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-button {
  border-radius: 12px;
  width: 100%;
  padding: 0.2rem 0.5rem !important;
  font-weight: 50 !important;
}

.header-list {
  margin: 0 auto;
  gap: 0;
}
