.form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.new-vehicle {
  margin: 5rem;
}

.form-section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.submit-button {
  width: 100%;
}
